# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Variable files
terraform.tfvars
*.auto.tfvars

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Keys
*.pem
*.key

# TFLint local cache
.tflint.d/

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plans and tfstate locks
*.tfplan
.terraform.tfstate.lock.info

# Environment variables
.env
.env.*

